.prose figcaption[data-rehype-pretty-code-title] {
  @apply table bg-gray-800 text-white pt-1 pb-5 px-3 rounded-t-md text-sm;
  margin-bottom: -16px;
}

figcaption[data-rehype-pretty-code-title] + figure {
  @apply mt-0;
}

p code {
  @apply align-text-bottom rounded-md px-1 py-0.5;
}

info > p {
  @apply p-4 rounded-md;
}
info > p::before {
  @apply pr-4 text-green-800;
  content: "\f05a";
  font-family: "FontAwesome";
}

.rehype-figure-container {
  @apply flex flex-col md:flex-row text-center justify-between items-center;
}

.rehype-figure-container img {
  @apply mx-auto;
}

figcaption {
  @apply text-center;
}
